.dark {
	background: rgba(0, 0, 0, 0.2);
}

.light {
	background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
}

#content {
	position: absolute;
	height: 84%;
	width: 92%;
	z-index: 2;

	margin: 80px;

	// background-color: rgba(255, 0, 0, 0.685);
}

@keyframes bounce-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.anim-close {
	animation: bounce-out 1s ease-in;
}

@keyframes popup {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.1;
	}

	100% {
		opacity: 1;
	}
}

#ath {
	position: absolute;
	margin: 15px;

	display: flex;
	align-items: center;
	z-index: 2;

	.icon {
		height: 55px;
		margin-right: 5px;
		transition-duration: 300ms;

		&:hover {
			opacity: 0.7;
			cursor: pointer;
		}
	}

	svg {
		animation-name: popup;
		animation-duration: 2s;

		fill: rgba(0, 0, 0, 0.5);
		margin: 0 5px;
		transition-duration: 300ms;
		text-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);

		&:hover {
			cursor: pointer;
			fill: #43ef01;
		}
	}

	.instaff {
		fill: rgba(0, 112, 187, 0.75);

		&:hover {
			fill: rgb(0, 112, 187);
		}
	}

	.nostaff {
		fill: rgba(187, 0, 62, 0.75);

		&:hover {
			fill: rgb(187, 0, 78);
		}
	}

	.staffoption {
		display: flex;
		align-items: center;
		margin: 0;
	}


	.menu {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		position: absolute;
		left: 12.5px;
		top: 70px;

		svg {
			fill: rgba(0, 0, 0, 0.5);
			margin-bottom: 15px;
			transition-duration: 300ms;
			text-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);

			&:hover {
				fill: rgba(255, 255, 255, 0.85);
			}
		}
	}
}

#hud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: opacity 0.2s;
	z-index: 1;

	// background-color: #101010;

	// dev background
	// background-image: url("https://cdn.discordapp.com/attachments/392980227263037450/891124205641420850/Capture.jpg");
	// background-repeat: no-repeat;
	// background-size: cover;
	// background-position: center bottom;
}

#notifications-hud {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#announcement-hud {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

