#speedometer-container {
	position: absolute;
	bottom: 80px;
	right: 40px;

	height: 100px;
	width: 150px;

	display: flex;
	flex-direction: column;

	line-height: 60px;
	font-size: 65px;
	font-family: "Akrobat-Black";
	color: #fff;

	// background-color: red;

	.gear {
		display: flex;
		align-items: center;
		justify-content: center;

		min-height: 65px;
		min-width: 45px;

		border-radius: 10px;
		background-color: #43ef01;
		color: #1f2b22;
		font-size: 55px;

		margin-right: 8px;
	}
}
