#competences {
	height: 100%;
	width: calc(100% - 100px);
	padding: 0 50px;
	font-family: "Oswald";

	z-index: 99;
	background: radial-gradient(60.35% 85.46% at 51.28% 5.42%, rgba(5, 240, 255, 0.17) 0%, rgba(0, 240, 255, 0) 100%), #161616;
}
