#gasolina {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	height: 100%;
	width: calc(100% - 100px);
	padding: 0 50px;
	font-family: "Oswald";
	z-index: 99;

	background: url("https://cdn.discordapp.com/attachments/749017234743099423/1022878789727948923/unknown.png");
	background-size: 100%;

	.button {
		display: flex;
		height: 40px;
		width: 258px;

		margin-top: 12.5px;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}

	.button-s {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		background-color: rgba(0, 0, 0, 0.15);

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}
}

.opacity {
	&:hover {
		opacity: 0.8;
		transition-duration: 300ms;
		cursor: pointer;
	}
}
