#character {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: calc(100% - 150px);
	padding: 0 75px;
	font-family: "Oswald";

	z-index: 99;
	background: radial-gradient(60.35% 85.46% at 51.28% 5.42%, rgba(5, 240, 255, 0.17) 0%, rgba(0, 240, 255, 0) 100%), #161616;

	.opacity {
		&:hover {
			transition-duration: 300ms;
			opacity: 0.8;
			cursor: pointer;
		}
	}
}
